Cliente/Service References/HotelReservationReference/HotelReservationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceHotel.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceHotel.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56629/Services/HotelReservationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" />
  <xs:import schemaLocation="http://localhost:56629/Services/HotelReservationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OTA_HotelResNotifRQ">
    <xs:sequence>
      <xs:element name="echoTokenField" nillable="true" type="xs:string" />
      <xs:element name="hotelReservationsField" nillable="true" type="tns:ArrayOfHotelReservationsTypeHotelReservation" />
      <xs:element name="timeStampField" type="xs:dateTime" />
      <xs:element name="versionField" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OTA_HotelResNotifRQ" nillable="true" type="tns:OTA_HotelResNotifRQ" />
  <xs:complexType name="ArrayOfHotelReservationsTypeHotelReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelReservationsTypeHotelReservation" nillable="true" type="tns:HotelReservationsTypeHotelReservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelReservationsTypeHotelReservation" nillable="true" type="tns:ArrayOfHotelReservationsTypeHotelReservation" />
  <xs:complexType name="HotelReservationsTypeHotelReservation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HotelReservationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HotelReservationsTypeHotelReservation" nillable="true" type="tns:HotelReservationsTypeHotelReservation" />
  <xs:complexType name="HotelReservationType">
    <xs:sequence>
      <xs:element name="billingInstructionCodeField" nillable="true" type="tns:ArrayOfHotelReservationTypeBillingInstructionCode" />
      <xs:element name="createDateTimeField" type="xs:dateTime" />
      <xs:element name="createDateTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="creatorIDField" nillable="true" type="xs:string" />
      <xs:element name="lastModifierIDField" nillable="true" type="xs:string" />
      <xs:element name="lastModifyDateTimeField" type="xs:dateTime" />
      <xs:element name="lastModifyDateTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="pOSField" nillable="true" type="tns:ArrayOfSourceType" />
      <xs:element name="resGlobalInfoField" nillable="true" type="tns:HotelReservationTypeResGlobalInfo" />
      <xs:element name="resGuestsField" nillable="true" type="tns:ArrayOfResGuestType" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" name="resStatusField" type="q1:HotelResStatusType" />
      <xs:element name="roomStaysField" nillable="true" type="tns:ArrayOfRoomStaysTypeRoomStay" />
      <xs:element name="servicesField" nillable="true" type="tns:ServicesType" />
      <xs:element name="uniqueIDField" nillable="true" type="tns:RESX_HotelReservationType__UniqueID_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelReservationType" nillable="true" type="tns:HotelReservationType" />
  <xs:complexType name="ArrayOfHotelReservationTypeBillingInstructionCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelReservationTypeBillingInstructionCode" nillable="true" type="tns:HotelReservationTypeBillingInstructionCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelReservationTypeBillingInstructionCode" nillable="true" type="tns:ArrayOfHotelReservationTypeBillingInstructionCode" />
  <xs:complexType name="HotelReservationTypeBillingInstructionCode">
    <xs:sequence>
      <xs:element name="accountNumberField" nillable="true" type="xs:string" />
      <xs:element name="authorizationCodeField" nillable="true" type="xs:string" />
      <xs:element name="billingCodeField" nillable="true" type="xs:string" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="endField" nillable="true" type="xs:string" />
      <xs:element name="resGuestRPHField" nillable="true" type="tns:ArrayOfHotelReservationTypeBillingInstructionCodeResGuestRPH" />
      <xs:element name="startField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelReservationTypeBillingInstructionCode" nillable="true" type="tns:HotelReservationTypeBillingInstructionCode" />
  <xs:complexType name="ArrayOfHotelReservationTypeBillingInstructionCodeResGuestRPH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelReservationTypeBillingInstructionCodeResGuestRPH" nillable="true" type="tns:HotelReservationTypeBillingInstructionCodeResGuestRPH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelReservationTypeBillingInstructionCodeResGuestRPH" nillable="true" type="tns:ArrayOfHotelReservationTypeBillingInstructionCodeResGuestRPH" />
  <xs:complexType name="HotelReservationTypeBillingInstructionCodeResGuestRPH">
    <xs:sequence>
      <xs:element name="rPHField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelReservationTypeBillingInstructionCodeResGuestRPH" nillable="true" type="tns:HotelReservationTypeBillingInstructionCodeResGuestRPH" />
  <xs:complexType name="ArrayOfSourceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SourceType" nillable="true" type="tns:SourceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSourceType" nillable="true" type="tns:ArrayOfSourceType" />
  <xs:complexType name="SourceType">
    <xs:sequence>
      <xs:element name="itemField" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SourceType" nillable="true" type="tns:SourceType" />
  <xs:complexType name="HotelReservationTypeResGlobalInfo">
    <xs:sequence>
      <xs:element name="basicPropertyInfoField" nillable="true" type="tns:BasicPropertyInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelReservationTypeResGlobalInfo" nillable="true" type="tns:HotelReservationTypeResGlobalInfo" />
  <xs:complexType name="BasicPropertyInfoType">
    <xs:sequence>
      <xs:element name="brandCodeField" nillable="true" type="xs:string" />
      <xs:element name="chainCodeField" nillable="true" type="xs:string" />
      <xs:element name="hotelCodeField" nillable="true" type="xs:string" />
      <xs:element name="hotelNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicPropertyInfoType" nillable="true" type="tns:BasicPropertyInfoType" />
  <xs:complexType name="ArrayOfResGuestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResGuestType" nillable="true" type="tns:ResGuestType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResGuestType" nillable="true" type="tns:ArrayOfResGuestType" />
  <xs:complexType name="ResGuestType">
    <xs:sequence>
      <xs:element name="ageField" nillable="true" type="xs:string" />
      <xs:element name="ageQualifyingCodeField" nillable="true" type="xs:string" />
      <xs:element name="arrivalTimeField" type="xs:dateTime" />
      <xs:element name="arrivalTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="arrivalTransportField" nillable="true" type="tns:ArrayOfTransportInfoTypeTransportInfo" />
      <xs:element name="commentsField" nillable="true" type="tns:ArrayOfCommentTypeComment" />
      <xs:element name="departureTransportField" nillable="true" type="tns:ArrayOfTransportInfoTypeTransportInfo" />
      <xs:element name="primaryIndicatorField" type="xs:boolean" />
      <xs:element name="primaryIndicatorFieldSpecified" type="xs:boolean" />
      <xs:element name="profilesField" nillable="true" type="tns:ArrayOfResGuestTypeProfileInfo" />
      <xs:element name="resGuestRPHField" nillable="true" type="xs:string" />
      <xs:element name="serviceRPHsField" nillable="true" type="tns:ArrayOfServiceRPHsTypeServiceRPH" />
      <xs:element name="specialRequestsField" nillable="true" type="tns:ArrayOfSpecialRequestTypeSpecialRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResGuestType" nillable="true" type="tns:ResGuestType" />
  <xs:complexType name="ArrayOfTransportInfoTypeTransportInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportInfoTypeTransportInfo" nillable="true" type="tns:TransportInfoTypeTransportInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransportInfoTypeTransportInfo" nillable="true" type="tns:ArrayOfTransportInfoTypeTransportInfo" />
  <xs:complexType name="TransportInfoTypeTransportInfo">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="timeField" type="xs:dateTime" />
      <xs:element name="timeFieldSpecified" type="xs:boolean" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportInfoTypeTransportInfo" nillable="true" type="tns:TransportInfoTypeTransportInfo" />
  <xs:complexType name="ArrayOfCommentTypeComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentTypeComment" nillable="true" type="tns:CommentTypeComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentTypeComment" nillable="true" type="tns:ArrayOfCommentTypeComment" />
  <xs:complexType name="CommentTypeComment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ParagraphType">
        <xs:sequence>
          <xs:element name="guestViewableField" type="xs:boolean" />
          <xs:element name="guestViewableFieldSpecified" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentTypeComment" nillable="true" type="tns:CommentTypeComment" />
  <xs:complexType name="ParagraphType">
    <xs:sequence>
      <xs:element name="itemsField" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParagraphType" nillable="true" type="tns:ParagraphType" />
  <xs:complexType name="ArrayOfFormattedTextTextType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormattedTextTextType" nillable="true" type="tns:FormattedTextTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormattedTextTextType" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
  <xs:complexType name="FormattedTextTextType">
    <xs:sequence>
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormattedTextTextType" nillable="true" type="tns:FormattedTextTextType" />
  <xs:complexType name="ArrayOfResGuestTypeProfileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResGuestTypeProfileInfo" nillable="true" type="tns:ResGuestTypeProfileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResGuestTypeProfileInfo" nillable="true" type="tns:ArrayOfResGuestTypeProfileInfo" />
  <xs:complexType name="ResGuestTypeProfileInfo">
    <xs:sequence>
      <xs:element name="profileField" nillable="true" type="tns:RESX_ResGuest__ProfileType" />
      <xs:element name="uniqueIDField" nillable="true" type="tns:ArrayOfUniqueID_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResGuestTypeProfileInfo" nillable="true" type="tns:ResGuestTypeProfileInfo" />
  <xs:complexType name="RESX_ResGuest__ProfileType">
    <xs:sequence>
      <xs:element name="companyInfoField" nillable="true" type="tns:CompanyInfoType" />
      <xs:element name="customerField" nillable="true" type="tns:RESX_ResGuest__CustomerType" />
      <xs:element name="profileTypeField" nillable="true" type="xs:string" />
      <xs:element name="shareAllMarketIndField" type="xs:boolean" />
      <xs:element name="shareAllMarketIndFieldSpecified" type="xs:boolean" />
      <xs:element name="shareAllOptOutIndField" type="xs:boolean" />
      <xs:element name="shareAllOptOutIndFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_ResGuest__ProfileType" nillable="true" type="tns:RESX_ResGuest__ProfileType" />
  <xs:complexType name="CompanyInfoType">
    <xs:sequence>
      <xs:element name="addressInfoField" nillable="true" type="tns:ArrayOfCompanyInfoTypeAddressInfo" />
      <xs:element name="companyNameField" nillable="true" type="tns:ArrayOfCompanyNameType" />
      <xs:element name="contactPersonField" nillable="true" type="tns:ArrayOfContactPersonType" />
      <xs:element name="emailField" nillable="true" type="tns:ArrayOfCompanyInfoTypeEmail" />
      <xs:element name="telephoneInfoField" nillable="true" type="tns:ArrayOfCompanyInfoTypeTelephoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyInfoType" nillable="true" type="tns:CompanyInfoType" />
  <xs:complexType name="ArrayOfCompanyInfoTypeAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyInfoTypeAddressInfo" nillable="true" type="tns:CompanyInfoTypeAddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyInfoTypeAddressInfo" nillable="true" type="tns:ArrayOfCompanyInfoTypeAddressInfo" />
  <xs:complexType name="CompanyInfoTypeAddressInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressInfoType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyInfoTypeAddressInfo" nillable="true" type="tns:CompanyInfoTypeAddressInfo" />
  <xs:complexType name="AddressInfoType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressInfoType" nillable="true" type="tns:AddressInfoType" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="addressLineField" nillable="true" type="q2:ArrayOfstring" />
      <xs:element name="cityNameField" nillable="true" type="xs:string" />
      <xs:element name="countryNameField" nillable="true" type="tns:CountryNameType" />
      <xs:element name="postalCodeField" nillable="true" type="xs:string" />
      <xs:element name="stateProvField" nillable="true" type="tns:StateProvType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="CountryNameType">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryNameType" nillable="true" type="tns:CountryNameType" />
  <xs:complexType name="StateProvType">
    <xs:sequence>
      <xs:element name="stateCodeField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateProvType" nillable="true" type="tns:StateProvType" />
  <xs:complexType name="ArrayOfCompanyNameType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyNameType" nillable="true" type="tns:CompanyNameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyNameType" nillable="true" type="tns:ArrayOfCompanyNameType" />
  <xs:complexType name="CompanyNameType">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyNameType" nillable="true" type="tns:CompanyNameType" />
  <xs:complexType name="ArrayOfContactPersonType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPersonType" nillable="true" type="tns:ContactPersonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactPersonType" nillable="true" type="tns:ArrayOfContactPersonType" />
  <xs:complexType name="ContactPersonType">
    <xs:sequence>
      <xs:element name="addressField" nillable="true" type="tns:ArrayOfAddressInfoType" />
      <xs:element name="emailField" nillable="true" type="tns:ArrayOfEmailType" />
      <xs:element name="personNameField" nillable="true" type="tns:PersonNameType" />
      <xs:element name="telephoneField" nillable="true" type="tns:ArrayOfContactPersonTypeTelephone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactPersonType" nillable="true" type="tns:ContactPersonType" />
  <xs:complexType name="ArrayOfAddressInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressInfoType" nillable="true" type="tns:AddressInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressInfoType" nillable="true" type="tns:ArrayOfAddressInfoType" />
  <xs:complexType name="ArrayOfEmailType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailType" nillable="true" type="tns:EmailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailType" nillable="true" type="tns:ArrayOfEmailType" />
  <xs:complexType name="EmailType">
    <xs:sequence>
      <xs:element name="defaultIndField" type="xs:boolean" />
      <xs:element name="defaultIndFieldSpecified" type="xs:boolean" />
      <xs:element name="emailType1Field" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailType" nillable="true" type="tns:EmailType" />
  <xs:complexType name="PersonNameType">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="givenNameField" nillable="true" type="q3:ArrayOfstring" />
      <xs:element name="languageField" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="middleNameField" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="namePrefixField" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="nameSuffixField" nillable="true" type="q6:ArrayOfstring" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="nameTitleField" nillable="true" type="q7:ArrayOfstring" />
      <xs:element name="nameTypeField" nillable="true" type="xs:string" />
      <xs:element name="surnameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonNameType" nillable="true" type="tns:PersonNameType" />
  <xs:complexType name="ArrayOfContactPersonTypeTelephone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPersonTypeTelephone" nillable="true" type="tns:ContactPersonTypeTelephone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactPersonTypeTelephone" nillable="true" type="tns:ArrayOfContactPersonTypeTelephone" />
  <xs:complexType name="ContactPersonTypeTelephone">
    <xs:sequence>
      <xs:element name="areaCityCodeField" nillable="true" type="xs:string" />
      <xs:element name="countryAccessCodeField" nillable="true" type="xs:string" />
      <xs:element name="defaultIndField" type="xs:boolean" />
      <xs:element name="defaultIndFieldSpecified" type="xs:boolean" />
      <xs:element name="formattedIndField" type="xs:boolean" />
      <xs:element name="formattedIndFieldSpecified" type="xs:boolean" />
      <xs:element name="phoneLocationTypeField" nillable="true" type="xs:string" />
      <xs:element name="phoneNumberField" nillable="true" type="xs:string" />
      <xs:element name="phoneTechTypeField" nillable="true" type="xs:string" />
      <xs:element name="remarkField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactPersonTypeTelephone" nillable="true" type="tns:ContactPersonTypeTelephone" />
  <xs:complexType name="ArrayOfCompanyInfoTypeEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyInfoTypeEmail" nillable="true" type="tns:CompanyInfoTypeEmail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyInfoTypeEmail" nillable="true" type="tns:ArrayOfCompanyInfoTypeEmail" />
  <xs:complexType name="CompanyInfoTypeEmail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmailType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyInfoTypeEmail" nillable="true" type="tns:CompanyInfoTypeEmail" />
  <xs:complexType name="ArrayOfCompanyInfoTypeTelephoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyInfoTypeTelephoneInfo" nillable="true" type="tns:CompanyInfoTypeTelephoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyInfoTypeTelephoneInfo" nillable="true" type="tns:ArrayOfCompanyInfoTypeTelephoneInfo" />
  <xs:complexType name="CompanyInfoTypeTelephoneInfo">
    <xs:sequence>
      <xs:element name="areaCityCodeField" nillable="true" type="xs:string" />
      <xs:element name="countryAccessCodeField" nillable="true" type="xs:string" />
      <xs:element name="defaultIndField" type="xs:boolean" />
      <xs:element name="defaultIndFieldSpecified" type="xs:boolean" />
      <xs:element name="formattedIndField" type="xs:boolean" />
      <xs:element name="formattedIndFieldSpecified" type="xs:boolean" />
      <xs:element name="phoneLocationTypeField" nillable="true" type="xs:string" />
      <xs:element name="phoneNumberField" nillable="true" type="xs:string" />
      <xs:element name="phoneTechTypeField" nillable="true" type="xs:string" />
      <xs:element name="remarkField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyInfoTypeTelephoneInfo" nillable="true" type="tns:CompanyInfoTypeTelephoneInfo" />
  <xs:complexType name="RESX_ResGuest__CustomerType">
    <xs:sequence>
      <xs:element name="addressField" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeAddress" />
      <xs:element name="birthDateField" type="xs:dateTime" />
      <xs:element name="birthDateFieldSpecified" type="xs:boolean" />
      <xs:element name="custLoyaltyField" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeCustLoyalty" />
      <xs:element name="customerValueField" nillable="true" type="xs:string" />
      <xs:element name="emailField" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeEmail" />
      <xs:element name="personNameField" nillable="true" type="tns:ArrayOfPersonNameType" />
      <xs:element name="relatedTravelerField" nillable="true" type="tns:ArrayOfRelatedTravelerType" />
      <xs:element name="telephoneField" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeTelephone" />
      <xs:element name="vIP_IndicatorField" type="xs:boolean" />
      <xs:element name="vIP_IndicatorFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_ResGuest__CustomerType" nillable="true" type="tns:RESX_ResGuest__CustomerType" />
  <xs:complexType name="ArrayOfRESX_ResGuest__CustomerTypeAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESX_ResGuest__CustomerTypeAddress" nillable="true" type="tns:RESX_ResGuest__CustomerTypeAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESX_ResGuest__CustomerTypeAddress" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeAddress" />
  <xs:complexType name="RESX_ResGuest__CustomerTypeAddress">
    <xs:sequence>
      <xs:element name="addresseeNameField" nillable="true" type="tns:PersonNameType" />
      <xs:element name="companyNameField" nillable="true" type="tns:CompanyNameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_ResGuest__CustomerTypeAddress" nillable="true" type="tns:RESX_ResGuest__CustomerTypeAddress" />
  <xs:complexType name="ArrayOfRESX_ResGuest__CustomerTypeCustLoyalty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESX_ResGuest__CustomerTypeCustLoyalty" nillable="true" type="tns:RESX_ResGuest__CustomerTypeCustLoyalty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESX_ResGuest__CustomerTypeCustLoyalty" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeCustLoyalty" />
  <xs:complexType name="RESX_ResGuest__CustomerTypeCustLoyalty">
    <xs:sequence>
      <xs:element name="effectiveDateField" type="xs:dateTime" />
      <xs:element name="effectiveDateFieldSpecified" type="xs:boolean" />
      <xs:element name="expireDateField" type="xs:dateTime" />
      <xs:element name="expireDateFieldSpecified" type="xs:boolean" />
      <xs:element name="loyalLevelCodeField" nillable="true" type="xs:string" />
      <xs:element name="loyalLevelField" nillable="true" type="xs:string" />
      <xs:element name="membershipIDField" nillable="true" type="xs:string" />
      <xs:element name="programIDField" nillable="true" type="xs:string" />
      <xs:element name="remarkField" nillable="true" type="xs:string" />
      <xs:element name="signupDateField" type="xs:dateTime" />
      <xs:element name="signupDateFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_ResGuest__CustomerTypeCustLoyalty" nillable="true" type="tns:RESX_ResGuest__CustomerTypeCustLoyalty" />
  <xs:complexType name="ArrayOfRESX_ResGuest__CustomerTypeEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESX_ResGuest__CustomerTypeEmail" nillable="true" type="tns:RESX_ResGuest__CustomerTypeEmail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESX_ResGuest__CustomerTypeEmail" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeEmail" />
  <xs:complexType name="RESX_ResGuest__CustomerTypeEmail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmailType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESX_ResGuest__CustomerTypeEmail" nillable="true" type="tns:RESX_ResGuest__CustomerTypeEmail" />
  <xs:complexType name="ArrayOfPersonNameType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonNameType" nillable="true" type="tns:PersonNameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonNameType" nillable="true" type="tns:ArrayOfPersonNameType" />
  <xs:complexType name="ArrayOfRelatedTravelerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelatedTravelerType" nillable="true" type="tns:RelatedTravelerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelatedTravelerType" nillable="true" type="tns:ArrayOfRelatedTravelerType" />
  <xs:complexType name="RelatedTravelerType">
    <xs:sequence>
      <xs:element name="birthDateField" type="xs:dateTime" />
      <xs:element name="birthDateFieldSpecified" type="xs:boolean" />
      <xs:element name="personNameField" nillable="true" type="tns:PersonNameType" />
      <xs:element name="relationField" nillable="true" type="xs:string" />
      <xs:element name="uniqueIDField" nillable="true" type="tns:UniqueID_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedTravelerType" nillable="true" type="tns:RelatedTravelerType" />
  <xs:complexType name="UniqueID_Type">
    <xs:sequence>
      <xs:element name="iD_ContextField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniqueID_Type" nillable="true" type="tns:UniqueID_Type" />
  <xs:complexType name="ArrayOfRESX_ResGuest__CustomerTypeTelephone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESX_ResGuest__CustomerTypeTelephone" nillable="true" type="tns:RESX_ResGuest__CustomerTypeTelephone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESX_ResGuest__CustomerTypeTelephone" nillable="true" type="tns:ArrayOfRESX_ResGuest__CustomerTypeTelephone" />
  <xs:complexType name="RESX_ResGuest__CustomerTypeTelephone">
    <xs:sequence>
      <xs:element name="areaCityCodeField" nillable="true" type="xs:string" />
      <xs:element name="countryAccessCodeField" nillable="true" type="xs:string" />
      <xs:element name="defaultIndField" type="xs:boolean" />
      <xs:element name="defaultIndFieldSpecified" type="xs:boolean" />
      <xs:element name="formattedIndField" type="xs:boolean" />
      <xs:element name="formattedIndFieldSpecified" type="xs:boolean" />
      <xs:element name="phoneLocationTypeField" nillable="true" type="xs:string" />
      <xs:element name="phoneNumberField" nillable="true" type="xs:string" />
      <xs:element name="phoneTechTypeField" nillable="true" type="xs:string" />
      <xs:element name="remarkField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_ResGuest__CustomerTypeTelephone" nillable="true" type="tns:RESX_ResGuest__CustomerTypeTelephone" />
  <xs:complexType name="ArrayOfUniqueID_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UniqueID_Type" nillable="true" type="tns:UniqueID_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUniqueID_Type" nillable="true" type="tns:ArrayOfUniqueID_Type" />
  <xs:complexType name="ArrayOfServiceRPHsTypeServiceRPH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceRPHsTypeServiceRPH" nillable="true" type="tns:ServiceRPHsTypeServiceRPH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceRPHsTypeServiceRPH" nillable="true" type="tns:ArrayOfServiceRPHsTypeServiceRPH" />
  <xs:complexType name="ServiceRPHsTypeServiceRPH">
    <xs:sequence>
      <xs:element name="rPHField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRPHsTypeServiceRPH" nillable="true" type="tns:ServiceRPHsTypeServiceRPH" />
  <xs:complexType name="ArrayOfSpecialRequestTypeSpecialRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialRequestTypeSpecialRequest" nillable="true" type="tns:SpecialRequestTypeSpecialRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialRequestTypeSpecialRequest" nillable="true" type="tns:ArrayOfSpecialRequestTypeSpecialRequest" />
  <xs:complexType name="SpecialRequestTypeSpecialRequest">
    <xs:sequence>
      <xs:element name="codeContextField" nillable="true" type="xs:string" />
      <xs:element name="requestCodeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialRequestTypeSpecialRequest" nillable="true" type="tns:SpecialRequestTypeSpecialRequest" />
  <xs:complexType name="ArrayOfRoomStaysTypeRoomStay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomStaysTypeRoomStay" nillable="true" type="tns:RoomStaysTypeRoomStay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomStaysTypeRoomStay" nillable="true" type="tns:ArrayOfRoomStaysTypeRoomStay" />
  <xs:complexType name="RoomStaysTypeRoomStay">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RoomStayType">
        <xs:sequence>
          <xs:element name="commentsField" nillable="true" type="tns:ArrayOfCommentTypeComment" />
          <xs:element name="membershipsField" nillable="true" type="tns:ArrayOfMembershipTypeMembership" />
          <xs:element name="resGuestRPHsField" nillable="true" type="tns:ArrayOfResGuestRPHsTypeResGuestRPH" />
          <xs:element name="serviceRPHsField" nillable="true" type="tns:ArrayOfServiceRPHsTypeServiceRPH" />
          <xs:element name="specialRequestsField" nillable="true" type="tns:ArrayOfSpecialRequestTypeSpecialRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoomStaysTypeRoomStay" nillable="true" type="tns:RoomStaysTypeRoomStay" />
  <xs:complexType name="RoomStayType">
    <xs:sequence>
      <xs:element name="depositPaymentsField" nillable="true" type="tns:ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment" />
      <xs:element name="discountField" nillable="true" type="tns:DiscountType" />
      <xs:element name="guaranteeField" nillable="true" type="tns:ArrayOfGuaranteeType" />
      <xs:element name="guestCountsField" nillable="true" type="tns:ArrayOfGuestCountTypeGuestCount" />
      <xs:element name="marketCodeField" nillable="true" type="xs:string" />
      <xs:element name="promotionCodeField" nillable="true" type="xs:string" />
      <xs:element name="ratePlansField" nillable="true" type="tns:ArrayOfRatePlanType" />
      <xs:element name="roomRatesField" nillable="true" type="tns:ArrayOfRoomStayTypeRoomRate" />
      <xs:element name="roomTypesField" nillable="true" type="tns:ArrayOfRoomTypeType" />
      <xs:element name="sourceOfBusinessField" nillable="true" type="xs:string" />
      <xs:element name="timeSpanField" nillable="true" type="tns:RoomStayTypeTimeSpan" />
      <xs:element name="totalField" nillable="true" type="tns:TotalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomStayType" nillable="true" type="tns:RoomStayType" />
  <xs:complexType name="ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment" nillable="true" type="tns:ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment" />
  <xs:complexType name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment">
    <xs:sequence>
      <xs:element name="acceptedPaymentsField" nillable="true" type="tns:ArrayOfAcceptedPaymentsTypeAcceptedPayment" />
      <xs:element name="addressField" nillable="true" type="tns:ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress" />
      <xs:element name="amountPercentField" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAmountPercent" />
      <xs:element name="deadlineField" nillable="true" type="tns:ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline" />
      <xs:element name="descriptionField" nillable="true" type="tns:ArrayOfArrayOfFormattedTextTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePayment" />
  <xs:complexType name="ArrayOfAcceptedPaymentsTypeAcceptedPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcceptedPaymentsTypeAcceptedPayment" nillable="true" type="tns:AcceptedPaymentsTypeAcceptedPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcceptedPaymentsTypeAcceptedPayment" nillable="true" type="tns:ArrayOfAcceptedPaymentsTypeAcceptedPayment" />
  <xs:complexType name="AcceptedPaymentsTypeAcceptedPayment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PaymentFormType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcceptedPaymentsTypeAcceptedPayment" nillable="true" type="tns:AcceptedPaymentsTypeAcceptedPayment" />
  <xs:complexType name="PaymentFormType">
    <xs:sequence>
      <xs:element name="itemField" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" name="paymentTransactionTypeCodeField" type="q8:PaymentFormTypePaymentTransactionTypeCode" />
      <xs:element name="paymentTransactionTypeCodeFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentFormType" nillable="true" type="tns:PaymentFormType" />
  <xs:complexType name="ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress" nillable="true" type="tns:ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress" />
  <xs:complexType name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddressInfoType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAddress" />
  <xs:complexType name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAmountPercent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AmountPercentType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAmountPercent" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentAmountPercent" />
  <xs:complexType name="AmountPercentType">
    <xs:sequence>
      <xs:element name="amountField" type="xs:decimal" />
      <xs:element name="amountFieldSpecified" type="xs:boolean" />
      <xs:element name="currencyCodeField" nillable="true" type="xs:string" />
      <xs:element name="nmbrOfNightsField" nillable="true" type="xs:string" />
      <xs:element name="percentField" type="xs:decimal" />
      <xs:element name="percentFieldSpecified" type="xs:boolean" />
      <xs:element name="taxesField" nillable="true" type="tns:TaxesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountPercentType" nillable="true" type="tns:AmountPercentType" />
  <xs:complexType name="TaxesType">
    <xs:sequence>
      <xs:element name="amountField" type="xs:decimal" />
      <xs:element name="amountFieldSpecified" type="xs:boolean" />
      <xs:element name="currencyCodeField" nillable="true" type="xs:string" />
      <xs:element name="taxField" nillable="true" type="tns:ArrayOfTaxType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxesType" nillable="true" type="tns:TaxesType" />
  <xs:complexType name="ArrayOfTaxType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxType" nillable="true" type="tns:TaxType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxType" nillable="true" type="tns:ArrayOfTaxType" />
  <xs:complexType name="TaxType">
    <xs:sequence>
      <xs:element name="amountField" type="xs:decimal" />
      <xs:element name="amountFieldSpecified" type="xs:boolean" />
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="currencyCodeField" nillable="true" type="xs:string" />
      <xs:element name="percentField" type="xs:decimal" />
      <xs:element name="percentFieldSpecified" type="xs:boolean" />
      <xs:element name="taxDescriptionField" nillable="true" type="tns:ArrayOfArrayOfFormattedTextTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxType" nillable="true" type="tns:TaxType" />
  <xs:complexType name="ArrayOfArrayOfFormattedTextTextType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfFormattedTextTextType" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfFormattedTextTextType" nillable="true" type="tns:ArrayOfArrayOfFormattedTextTextType" />
  <xs:complexType name="ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline" nillable="true" type="tns:ArrayOfRESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline" />
  <xs:complexType name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline">
    <xs:sequence>
      <xs:element name="absoluteDeadlineField" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" name="offsetDropTimeField" type="q9:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadlineOffsetDropTime" />
      <xs:element name="offsetDropTimeFieldSpecified" type="xs:boolean" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" name="offsetTimeUnitField" type="q10:TimeUnitType" />
      <xs:element name="offsetTimeUnitFieldSpecified" type="xs:boolean" />
      <xs:element name="offsetUnitMultiplierField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline" nillable="true" type="tns:RESX_DepositPayments_RequiredPaymentsTypeGuaranteePaymentDeadline" />
  <xs:complexType name="DiscountType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TotalType">
        <xs:sequence>
          <xs:element name="discountCodeField" nillable="true" type="xs:string" />
          <xs:element name="discountReasonField" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
          <xs:element name="percentField" type="xs:decimal" />
          <xs:element name="percentFieldSpecified" type="xs:boolean" />
          <xs:element name="taxInclusiveField" type="xs:boolean" />
          <xs:element name="taxInclusiveFieldSpecified" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscountType" nillable="true" type="tns:DiscountType" />
  <xs:complexType name="TotalType">
    <xs:sequence>
      <xs:element name="amountAfterTaxField" type="xs:decimal" />
      <xs:element name="amountAfterTaxFieldSpecified" type="xs:boolean" />
      <xs:element name="amountBeforeTaxField" type="xs:decimal" />
      <xs:element name="amountBeforeTaxFieldSpecified" type="xs:boolean" />
      <xs:element name="currencyCodeField" nillable="true" type="xs:string" />
      <xs:element name="taxesField" nillable="true" type="tns:TaxesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalType" nillable="true" type="tns:TotalType" />
  <xs:complexType name="ArrayOfGuaranteeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GuaranteeType" nillable="true" type="tns:GuaranteeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuaranteeType" nillable="true" type="tns:ArrayOfGuaranteeType" />
  <xs:complexType name="GuaranteeType">
    <xs:sequence>
      <xs:element name="guaranteeCodeField" nillable="true" type="xs:string" />
      <xs:element name="guaranteeDescriptionField" nillable="true" type="tns:ArrayOfArrayOfFormattedTextTextType" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" name="guaranteeType1Field" type="q11:GuaranteeTypeGuaranteeType" />
      <xs:element name="guaranteeType1FieldSpecified" type="xs:boolean" />
      <xs:element name="guaranteesAcceptedField" nillable="true" type="tns:ArrayOfGuaranteeTypeGuaranteeAccepted" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuaranteeType" nillable="true" type="tns:GuaranteeType" />
  <xs:complexType name="ArrayOfGuaranteeTypeGuaranteeAccepted">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GuaranteeTypeGuaranteeAccepted" nillable="true" type="tns:GuaranteeTypeGuaranteeAccepted" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuaranteeTypeGuaranteeAccepted" nillable="true" type="tns:ArrayOfGuaranteeTypeGuaranteeAccepted" />
  <xs:complexType name="GuaranteeTypeGuaranteeAccepted">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PaymentFormType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuaranteeTypeGuaranteeAccepted" nillable="true" type="tns:GuaranteeTypeGuaranteeAccepted" />
  <xs:complexType name="ArrayOfGuestCountTypeGuestCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GuestCountTypeGuestCount" nillable="true" type="tns:GuestCountTypeGuestCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuestCountTypeGuestCount" nillable="true" type="tns:ArrayOfGuestCountTypeGuestCount" />
  <xs:complexType name="GuestCountTypeGuestCount">
    <xs:sequence>
      <xs:element name="ageBucketField" nillable="true" type="xs:string" />
      <xs:element name="ageField" nillable="true" type="xs:string" />
      <xs:element name="ageQualifyingCodeField" nillable="true" type="xs:string" />
      <xs:element name="countField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestCountTypeGuestCount" nillable="true" type="tns:GuestCountTypeGuestCount" />
  <xs:complexType name="ArrayOfRatePlanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatePlanType" nillable="true" type="tns:RatePlanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatePlanType" nillable="true" type="tns:ArrayOfRatePlanType" />
  <xs:complexType name="RatePlanType">
    <xs:sequence>
      <xs:element name="additionalDetailsField" nillable="true" type="tns:ArrayOfAdditionalDetailType" />
      <xs:element name="effectiveDateField" type="xs:dateTime" />
      <xs:element name="effectiveDateFieldSpecified" type="xs:boolean" />
      <xs:element name="expireDateField" type="xs:dateTime" />
      <xs:element name="expireDateFieldSpecified" type="xs:boolean" />
      <xs:element name="mealsIncludedField" nillable="true" type="tns:RatePlanTypeMealsIncluded" />
      <xs:element name="ratePlanCodeField" nillable="true" type="xs:string" />
      <xs:element name="ratePlanDescriptionField" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
      <xs:element name="ratePlanInclusionsField" nillable="true" type="tns:RatePlanInclusionsType" />
      <xs:element name="ratePlanNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatePlanType" nillable="true" type="tns:RatePlanType" />
  <xs:complexType name="ArrayOfAdditionalDetailType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalDetailType" nillable="true" type="tns:AdditionalDetailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalDetailType" nillable="true" type="tns:ArrayOfAdditionalDetailType" />
  <xs:complexType name="AdditionalDetailType">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="detailDescriptionField" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalDetailType" nillable="true" type="tns:AdditionalDetailType" />
  <xs:complexType name="RatePlanTypeMealsIncluded">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="mealPlanCodesField" nillable="true" type="q12:ArrayOfstring" />
      <xs:element name="mealPlanIndicatorField" type="xs:boolean" />
      <xs:element name="mealPlanIndicatorFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatePlanTypeMealsIncluded" nillable="true" type="tns:RatePlanTypeMealsIncluded" />
  <xs:complexType name="RatePlanInclusionsType">
    <xs:sequence>
      <xs:element name="ratePlanInclusionDescriptionField" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
      <xs:element name="serviceFeeInclusiveField" type="xs:boolean" />
      <xs:element name="serviceFeeInclusiveFieldSpecified" type="xs:boolean" />
      <xs:element name="taxInclusiveField" type="xs:boolean" />
      <xs:element name="taxInclusiveFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatePlanInclusionsType" nillable="true" type="tns:RatePlanInclusionsType" />
  <xs:complexType name="ArrayOfRoomStayTypeRoomRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomStayTypeRoomRate" nillable="true" type="tns:RoomStayTypeRoomRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomStayTypeRoomRate" nillable="true" type="tns:ArrayOfRoomStayTypeRoomRate" />
  <xs:complexType name="RoomStayTypeRoomRate">
    <xs:sequence>
      <xs:element name="serviceRPHsField" nillable="true" type="tns:ArrayOfServiceRPHsTypeServiceRPH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomStayTypeRoomRate" nillable="true" type="tns:RoomStayTypeRoomRate" />
  <xs:complexType name="ArrayOfRoomTypeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomTypeType" nillable="true" type="tns:RoomTypeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomTypeType" nillable="true" type="tns:ArrayOfRoomTypeType" />
  <xs:complexType name="RoomTypeType">
    <xs:sequence>
      <xs:element name="additionalDetailsField" nillable="true" type="tns:ArrayOfAdditionalDetailType" />
      <xs:element name="configurationField" nillable="true" type="xs:string" />
      <xs:element name="nonSmokingField" type="xs:boolean" />
      <xs:element name="nonSmokingFieldSpecified" type="xs:boolean" />
      <xs:element name="roomCategoryField" nillable="true" type="xs:string" />
      <xs:element name="roomDescriptionField" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
      <xs:element name="roomIDField" nillable="true" type="xs:string" />
      <xs:element name="roomTypeCodeField" nillable="true" type="xs:string" />
      <xs:element name="roomTypeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomTypeType" nillable="true" type="tns:RoomTypeType" />
  <xs:complexType name="RoomStayTypeTimeSpan">
    <xs:sequence>
      <xs:element name="endField" nillable="true" type="xs:string" />
      <xs:element name="startField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomStayTypeTimeSpan" nillable="true" type="tns:RoomStayTypeTimeSpan" />
  <xs:complexType name="ArrayOfMembershipTypeMembership">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MembershipTypeMembership" nillable="true" type="tns:MembershipTypeMembership" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMembershipTypeMembership" nillable="true" type="tns:ArrayOfMembershipTypeMembership" />
  <xs:complexType name="MembershipTypeMembership">
    <xs:sequence>
      <xs:element name="accountIDField" nillable="true" type="xs:string" />
      <xs:element name="programCodeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembershipTypeMembership" nillable="true" type="tns:MembershipTypeMembership" />
  <xs:complexType name="ArrayOfResGuestRPHsTypeResGuestRPH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResGuestRPHsTypeResGuestRPH" nillable="true" type="tns:ResGuestRPHsTypeResGuestRPH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResGuestRPHsTypeResGuestRPH" nillable="true" type="tns:ArrayOfResGuestRPHsTypeResGuestRPH" />
  <xs:complexType name="ResGuestRPHsTypeResGuestRPH">
    <xs:sequence>
      <xs:element name="rPHField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResGuestRPHsTypeResGuestRPH" nillable="true" type="tns:ResGuestRPHsTypeResGuestRPH" />
  <xs:complexType name="ServicesType">
    <xs:sequence>
      <xs:element name="serviceCategoryField" nillable="true" type="tns:ArrayOfServicesTypeServiceCategory" />
      <xs:element name="serviceField" nillable="true" type="tns:ArrayOfServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicesType" nillable="true" type="tns:ServicesType" />
  <xs:complexType name="ArrayOfServicesTypeServiceCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicesTypeServiceCategory" nillable="true" type="tns:ServicesTypeServiceCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicesTypeServiceCategory" nillable="true" type="tns:ArrayOfServicesTypeServiceCategory" />
  <xs:complexType name="ServicesTypeServiceCategory">
    <xs:sequence>
      <xs:element name="serviceCategoryCodeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicesTypeServiceCategory" nillable="true" type="tns:ServicesTypeServiceCategory" />
  <xs:complexType name="ArrayOfServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceType" nillable="true" type="tns:ServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceType" nillable="true" type="tns:ArrayOfServiceType" />
  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element name="iD_ContextField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="inclusiveField" type="xs:boolean" />
      <xs:element name="inclusiveFieldSpecified" type="xs:boolean" />
      <xs:element name="priceField" nillable="true" type="tns:ArrayOfServiceTypePrice" />
      <xs:element name="quantityField" nillable="true" type="xs:string" />
      <xs:element name="serviceCategoryCodeField" nillable="true" type="xs:string" />
      <xs:element name="serviceDetailsField" nillable="true" type="tns:ServiceTypeServiceDetails" />
      <xs:element name="serviceInventoryCodeField" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" name="servicePricingTypeField" type="q13:PricingType" />
      <xs:element name="servicePricingTypeFieldSpecified" type="xs:boolean" />
      <xs:element name="serviceRPHField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceType" nillable="true" type="tns:ServiceType" />
  <xs:complexType name="ArrayOfServiceTypePrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceTypePrice" nillable="true" type="tns:ServiceTypePrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceTypePrice" nillable="true" type="tns:ArrayOfServiceTypePrice" />
  <xs:complexType name="ServiceTypePrice">
    <xs:sequence>
      <xs:element name="totalField" nillable="true" type="tns:TotalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTypePrice" nillable="true" type="tns:ServiceTypePrice" />
  <xs:complexType name="ServiceTypeServiceDetails">
    <xs:sequence>
      <xs:element name="commentsField" nillable="true" type="tns:ArrayOfCommentTypeComment" />
      <xs:element name="guestCountsField" nillable="true" type="tns:ArrayOfGuestCountTypeGuestCount" />
      <xs:element name="serviceDescriptionField" nillable="true" type="tns:ArrayOfFormattedTextTextType" />
      <xs:element name="timeSpanField" nillable="true" type="tns:ServiceTypeServiceDetailsTimeSpan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTypeServiceDetails" nillable="true" type="tns:ServiceTypeServiceDetails" />
  <xs:complexType name="ServiceTypeServiceDetailsTimeSpan">
    <xs:sequence>
      <xs:element name="endField" nillable="true" type="xs:string" />
      <xs:element name="startField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTypeServiceDetailsTimeSpan" nillable="true" type="tns:ServiceTypeServiceDetailsTimeSpan" />
  <xs:complexType name="RESX_HotelReservationType__UniqueID_Type">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESX_HotelReservationType__UniqueID_Type" nillable="true" type="tns:RESX_HotelReservationType__UniqueID_Type" />
  <xs:complexType name="OTA_HotelResNotifRS">
    <xs:sequence>
      <xs:element name="echoTokenField" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="itemsField" nillable="true" type="q14:ArrayOfanyType" />
      <xs:element name="pOSField" nillable="true" type="tns:ArrayOfSourceType" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceHotel.Utilities" name="resResponseTypeField" type="q15:TransactionStatusType" />
      <xs:element name="resResponseTypeFieldSpecified" type="xs:boolean" />
      <xs:element name="timeStampField" type="xs:dateTime" />
      <xs:element name="versionField" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OTA_HotelResNotifRS" nillable="true" type="tns:OTA_HotelResNotifRS" />
</xs:schema>